/node_modules
/public/hot
/public/backend/uploads/images.zip
/public/backend/uploads
/public/storage
/storage/*.key
/vendor
/db
/.env.example
/.env
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
